@using Bookstore.Models;
@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Generos Literários";
}

<h1>@ViewData["Title"]</h1>

<p>
<a asp-action="Create">Adicionar novo Gênero Literário</a>
</p>

<table class="table">
<thead>
<tr>
<th>@Html.DisplayNameFor(model => model.Name)</th>
</tr>
</thead>
<tbody>
        @foreach (Genre genre in Model)
        {
    <tr>
    <td>
                    @Html.DisplayFor(modelItem => genre.Name)
    </td>
    <td>
    <a asp-action="Details" asp-route-id="@genre.Id">Detalhes</a>
    <a asp-action="Edit" asp-route-id="@genre.Id">Editar</a>
    <a asp-action="Delete" asp-route-id="@genre.Id">Apagar</a>
    </td>
    </tr>
        }
</tbody>
</table>

tem menu de contexto